doctype html
html(lang='en')
  head
    link(rel='stylesheet', type='text/css', href='form.css')
    title Sucess
  body
    .main
    h1 SIGN UP SUCCESSFUL 
    .back
      a(href='/home') Go Back 
    .login
      a(href='/login') Login
